/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
@supports (font-variation-settings: 'wght' var(--font-wght-text)) {
  .page {
    font-variation-settings: 'wght' var(--font-wght-text);
  }
}

@supports (font-variation-settings: 'wght' var(--font-wght-accent)) {
  .card__header {
    font-variation-settings: 'wght' var(--font-wght-accent);
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-text);
  font-weight: var(--font-wght-text);
  background-color: var(--bg-color);
  color: var(--color-accent);
  background-image: var(--bg-image);
  background-size: cover;
}

.content-options {
  inline-size: var(--container-inline-size);
  margin: auto;
  background-color: var(--bg-color);
  border: var(--border);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 25px;
  margin: 100px auto;
  min-block-size: 368px;
}

.header__title {
  font-family: var(--font-accent);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  text-transform: uppercase;
  margin: 20px 0 25px;
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.theme-menu__item {
  padding-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  font-family: var(--font-accent);
  font-size: 14px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  margin-block-end: -1px;
  background-color: var(--color-accent);
  transition: width 0.3s ease;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -20px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 103px;
}

.card__header {
  padding: 5px 24px 4px 10px;
  font-weight: var(--font-wght-accent);
  font-size: var(--font-size-text);
  line-height: 21.78px;
}

.card__cover {
  position: relative;
  inline-size: 100%;
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.card__cover-image {
  display: block;
  inline-size: inherit;
  object-fit: cover;
}

.contrast {
  filter: contrast(50%);
}

.blur {
  filter: blur(3px);
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(250%);
}

.hue-rotate {
  filter: hue-rotate(45deg);
}

.sepia {
  filter: sepia(80%);
}

.mix-filter {
  filter: invert(40%) sepia(50%);
}

.card__cover-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  text-shadow: 
  -1px 0px 0px var(--border-label),
  0px 1px 0px var(--border-label),
  1px 0px 0px var(--border-label),
  0px -1px 0px var(--border-label);
}

@supports((text-stroke: 1px var(--border-label)) or (-webkit-text-stroke: 1px var(--border-label))) {
  .card__cover-label {
      -webkit-text-stroke: 1px var(--border-label);
      text-stroke: 1px var(--border-label);
      text-shadow: none;
  }
} 

.card__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  font-weight: var(--font-wght-text);
  font-size: var(--font-size-text);
  line-height: 21px;
}

.card__description p:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__description-button {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block-start: 25px;
  align-self: flex-end;
}

.card__icon-button {
  border: var(--border-default);
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: var(--border);
}

.like-icon {
  inline-size: 33px;
  block-size: 30px;
}

.contour {
  fill: var(--contour-heart);
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

/* Общий блок кнопок Like, Сохранить и Ок */
.button-settings {
  position: relative;
  border: var(--border);
  transition: box-shadow 0.3s ease;
}

.button-settings::before {
  content: '';
  position: absolute;
  block-size: 100%;
  background-color: var(--button-hover);
  inline-size: 0;
  left: 0;
  top: 0;
  transition: inline-size 0.5s ease-in-out;
}

.button-settings:hover::before {
  inline-size: 100%;
}

.button-settings:focus-visible {
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.3s ease;
}
/* конец блока */

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  font-family: var(--font-accent);
  color: var(--button-text);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 335px;
  padding-block: 15px;
  margin: auto;
  background-color: var(--bg-color);
}

.button-save__icon {
  position: relative;
  inline-size: 21px;
  block-size: 21px;
  fill: var(--button-text);
  mix-blend-mode: difference;
}

.button-save__text {
  position: relative;
  z-index: 2;
  font-family: var(--font-accent);
  color: var(--button-text);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.modal-window {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal-window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-window__article {
  max-inline-size: 357px;
  block-size: 193px;
  padding: 30px;
  border: var(--border);
  background-color: var(--bg-color);
}

.modal-descripton {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block-end: 30px;
}

.modal__icon {
  position: relative;
  inline-size: 39px;
  block-size: 39px;
  fill: var(--button-text);
  mix-blend-mode: difference;
}

.modal__text {
  inline-size: 234px;
  font-family: var(--font-accent);
  color: var(--color-accent);
  font-size: 14px;
  line-height: 21px;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 100%;
  padding-block: 12.5px;
  margin: auto;
  background-color: var(--bg-color);
}

@media (width <= 375px) {
  :root {
      --container-inline-size: 100%;
  }

  .header {
    margin: 102px auto 100px;
    min-block-size: 327px;
  }

  .card__cover-label {
    inset-inline-end: 13px;
  }

  .button-save {
    display: flex;
    flex-direction: column;
    inline-size: 306px;
  }
  
  .button-save__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}